#btn1 {
    -fx-background-image: url("armure.png");
    -fx-background-size: 200 200;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}

#btn2 {
    -fx-background-image: url("epee.png");
    -fx-background-size: 200 200;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}

#btn3 {
    -fx-background-image: url("potion.png");
    -fx-background-size: 200 200;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}

#btn4 {
    -fx-background-image: url("potion.png");
    -fx-background-size: 200 200;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}

#btn5 {
    -fx-background-image: url("arrow.png");
    -fx-background-size: 200 200;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}

.root {
    -fx-font-family: "Arial";
}